<?xml version="1.0" encoding="gbk"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <profiles>
        <profile>
            <id>production</id>
            <properties>
                <!-- 开始 第一部分: 私密key配置，发布时需要运维配置，在product profile中去掉 -->
               
                <!-- 结束 第一部分: 私密key配置，发布时需要运维配置，在product profile中去掉 -->

                <!-- 开始 第二部分: 数据库配置，发布时需运维配置JNDI -->
                <!--数据库连接的方式-->
                <card.jdbc.datasource.type>jndi</card.jdbc.datasource.type>
                <!-- 结束 第二部分: 数据库配置，发布时需运维配置JNDI -->

                <!-- 开始 第三部分: 缓存等服务资源，发布时需找运维确定 -->
                <!--cache1位置-->
                <card.memcached1.address>mc1.pop.360buy.com:11211</card.memcached1.address>
                <!--cache2位置-->
                <card.memcached2.address>mc2.pop.360buy.com:11211</card.memcached2.address>

                <!-- 结束 第三部分: 缓存等服务资源，发布时需找运维确定 -->

                <!-- 开始 第四部分: 服务器配置，发布时需找运维确定 -->
                <!-- 结束 第四部分: 服务器配置，发布时需找运维确定 -->

                <!-- 开始 第五部分: 依赖的外部接口，发布时需找接口人确定 -->

                <!-- 结束 第五部分: 依赖的外部接口，发布时需找接口人确定 -->

                <!-- 开始 第六部分: 提供给别人的接口，发布时需通知调用人 -->
                <!-- 结束 第六部分: 提供给别人的接口，发布时需通知调用人 -->

                <!-- 开始 第七部分: 开发设置 -->
                <!-- 开始 第七部分: 开发设置 -->

                <!-- 开始 第八部分: 开发框架配置，发布人修改 -->
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>production</activeProfile>
    </activeProfiles>

 </settings>
