<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
## index.vm
#set($layout = "/layout/default.vm") ##选择布局页面
#set($page_title ="spring3velocity")
#set($name = "example")
<p>
Hello <b>$name</b>, Welcome to spring3 with velocity <br/>
</p>